@model Employee
@{
    ViewData["Title"] = "Create Department";
}

<h1>Create New Department</h1>
<br />
<form asp-action="Create" method="post">
    <partial name="PartialViews/CreateEditPartialView" />

    <input type="submit" value="Submit" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Back To List</a>
</form>
@section ValidationScriptSection {
    <partial name="_ValidationScriptsPartial" />
}